header {
  height: 100px;
  background-color: red;
}

header > div {
  height: 100%;
  background-color: green;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

main {
  height: calc(100vh - 100px);
  background-color: aquamarine;
}

main > div {
  height: 100%;
  background-color: saddlebrown;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
